@import "tailwindcss";
@import "../styles/variabels.css";
@custom-variant dark (&:where(.dark, .dark *));
/*Base Layer*/
@layer base {
  html {
    font-family: var(--font-sans);
    font-weight: var(--font-bold);
    color: var(--color--primary);
    background-color: var(--color--bg);
    scroll-behavior: smooth;
    @apply font-sans;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  img,
  svg,
  video {
    max-width: 100%;
    display: block;
  }
}
/*Layout*/
.ds-container {
  width: auto;
  margin-inline: auto;
  padding-inline: 16px;
  max-width: 1320px;
}

@media (min-width: 1024px) {
  .ds-container {
    width: auto;
  }
}

@layer utilities {
  /*Backgrounds*/
  .ds-bg {
    background-color: var(--color--bg);
  }
  .ds-bg-alt {
    background-color: var(--color--bg--alt);
  }
  .ds-bg-form {
    background-color: var(--color-form);
  }

  .ds-bg-zhry {
    background-color: var(--color-bg-zhry);
  }
  .ds-bg-ramadiFateh {
    background-color: var(--color-bg-ramadiFateh);
  }
  /*colors*/

  .ds-text-white {
    color: var(--color--white);
  }
  /*   --color--text--white*/
  .ds-text-main {
    color: var(--color--main);
  }
  .ds-text-primary {
    color: var(--color--primary);
  }

  .ds-text-disabeld {
    color: var(--color--disabeld);
  }
  .ds-text-zhry {
    color: var(--color--zhary);
  }
  .ds-text-secondry {
    color: var(--color--secondry);
  }
  .ds-text-black {
    color: var(--color--black);
  }

  .ds-text-ramadi {
    color: var(--color--text-ramadi);
  }
}
